* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
/* header */
.header-li {
    display: flex;
    padding-top: 52px;
    padding-right: 50px;
    position: absolute;
    right: 0;
   
}

.div-img-logo-hospital{

    padding-top: 35px;
padding-left: 300px;

}

.div-header-h1-Reloj{

padding-top: 50px;
padding-right: 10px;
padding-left: 40px;

}

.div-header-h1-p1{

padding-top: 30px;


}


.div-header-h1-imgReloj{

width: 30px;
height: 40px;


}


.div-header-p1{

padding-left: 15px;
padding-top: 20px;
padding-bottom: 15px;


}

.img-header {
    
    width: 120px;
    padding-left: 20px;
    
}

.div-header-h1{

position: relative;
left: 0px;
padding-top: 10px;
display: flex;
padding-left: 50px;

}





.div-header-h1-telefono{
padding-top: 20px;
padding-right: 10px;

}

.div-header-h1-imgTelefono{

    width: 30px;
    height: 30px;
    
}


.div2-header-h1{

    display: flex;
    padding-left: 100px;
    padding-top: 42px;
    
    }
    
    .div2-header-p1{
    
    padding-top: 20px;
    

    }


    .header-div-logogob{
        padding-left: 20px;
    padding-top: 35px;

    }

    .logogob {
       
        width: 250px;
        height: 100px;
        padding-right: 20px;
    }

.headerP {
  display: flex;
  border-bottom: 0.1px solid #d8cfcf;
  padding: 10px;
}

.liU {
    padding: 19px;
    list-style: none;
}


.div-header{
display: flex;
justify-content: center;

}

.div-h1-header{
display: grid;
justify-content: center;
position: relative;
top: 300px;

}


.h1-1-header{

display: flex;
justify-content: center;

}

/* header */
/* ------------------------------------------------------------------------ */

/* body */

.img-completa {
    width: 95%;
    height: 500px;
    border-radius: 20px;
    padding-top: 40px;
    display: flex;
    justify-content: center;
}

.h1-principal{
padding-top: 40px;
display: flex;
justify-content: center;

}

.img-logo-hospitalI{

width: 200px;
display: flex;
align-items: center;
padding-top: 50px;


}

.img-logo-hospital{

display: flex;
justify-content: center;

}


/* section 1 */

.section-01{

display: flex;
justify-content: center;
padding-top: 180px;

}


.section-letras-01{



}

.btn {
    padding-top: 80px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #030202;
    background-color: #f1f1f1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

  }

  .img-01{

width: 700px;

  }

  .h2-principal {
    padding-top: 50px;
}

.section-p{

padding-top: 50px;
padding-bottom: 150px;

}



.section-img-01 {
    
    padding-left: 45px;
}

/* section 1 */


/* section 2 */

.section-02{

padding-top: 200px;
padding-bottom: 300px;


}

.img-section2{

position: relative;

}



.div-principal-section2{

margin: 300PX;
padding-top: 300px;

}

.div-principal-section2{

display: flex;
justify-content: center;

}

.div02-section2{

max-width: 500px;
padding-right: 50px;

}



.h1-div02-section2 {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    color: #f1f1f1;
}

.p-mision{

color: #f1f1f1;

}


.div3-section2{

padding-left: 50px;
    max-width: 500px;

}

.h1-div3-section2{


display: flex;
justify-content: center;
padding-bottom: 50px;
color: #f1f1f1;

}

.p-vision{
color: #f1f1f1;

}

.div-img-section2{

position: relative;
width: 100%;
padding-bottom: 20px;
padding-top: 100px;

}
.img-section2{

z-index: -1;
width: 100%;
border-radius: 10%;

}



/* section 2 */

/* --------------------------------------------------------------------------------- */

/* SECTION-3 */


.section-3{

padding-top: 200PX;


}


.h1-1-section3{
display: grid;
justify-content: center;

}


/* imgs 1 y 2*/
.div-section3-img12{

padding-top: 100px;
display: flex;
justify-content: center;


}

.section3-img1{
margin: 0;
padding-right: 15px;
width: 500px;

}

.section3-img2{

    width: 500px;
    
    }


/* imgs 3 y 4*/

.div-section3-img34{

    padding-top: 10px;
    display: flex;
    justify-content: center;
    
    
    }

    .section3-img3{

        margin: 0;
        padding-right: 15px;
        width: 500px;
        
        }
        
        .section3-img4{
        
            width: 500px;
            
            }

            .div-img-section2{

            position: absolute;


            }
        



/* SECTION-3 */


/* section-4 */


/* 



.carousel {
    position: relative;
    width: 80%;
    max-width: 600px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.slides {
    display: flex;
    width: 300%;
    transition: transform 0.5s ease-in-out;
}

.slide {
    width: 100%;
    flex: 1 0 100%;
}

.slide img {
    width: 100%;
    display: block;
}

input[type="radio"] {
    display: none;
}

#slide1:checked ~ .slides {
    transform: translateX(0);
}

#slide2:checked ~ .slides {
    transform: translateX(-33.3333%);
}

#slide3:checked ~ .slides {
    transform: translateX(-66.6666%);
}

.navigation {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.nav {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="radio"]:checked + .nav {
    background-color: rgba(0, 0, 0, 0.9);
} */



/* section-4 */


/* body */
