* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}






/* header */
.header-li {
    display: flex;
    padding-top: 52px;
    padding-right: 50px;
    position: absolute;
    right: 0;
   
}

.div-img-logo-hospital{

    padding-top: 35px;
padding-left: 80px;

}

.div-header-h1-Reloj{

padding-top: 70px;
padding-right: 10px;
padding-left: 5px;

}

.div-header-h1-p1{

padding-top: 50px;


}


.div-header-h1-imgReloj{

width: 30px;
height: 40px;


}


.div-header-p1{

padding-left: 15px;
padding-top: 20px;
padding-bottom: 15px;


}

.img-header {
    
    width: 150px;
    padding-left: 10px;
    
}

.div-header-h1{

position: relative;
left: 0px;
padding-top: 10px;
display: flex;
padding-left: 50px;

}





.div-header-h1-telefono{
padding-top: 20px;
padding-right: 20px;

}

.div-header-h1-imgTelefono{

    width: 30px;
    height: 30px;
    
}


.div2-header-h1{

    display: flex;
    padding-left: 50px;
    padding-top: 65px;
    
    }
    
    .div2-header-p1{
    
    padding-top: 20px;
    padding-left: 10PX;

    }





    .header-div-logogob{
        padding-left: 20px;
    padding-top: 35px;
    padding-bottom: 10px;

    }

    .logogob {
       
        width: 360px;
        height: 130px;
        padding-right: 20px;
    }

.headerP {
  display: flex;
  border-bottom: 0.1px solid #d8cfcf;
  padding: 10px;
}

.liU {
    padding: 19px;
    list-style: none;
}


.div-header{
display: flex;
justify-content: center;

}

.div-h1-header{
display: grid;
justify-content: center;
position: relative;
top: 300px;

}


.h1-1-header{

display: flex;
justify-content: center;

}

/* header */
/* ------------------------------------------------------------------------ */

/* body */

.img-completa {
    width: 95%;
    height: 500px;
    border-radius: 20px;
    padding-top: 40px;
    display: flex;
    justify-content: center;
}

.h1-principal{
padding-top: 40px;
display: flex;
justify-content: center;

}

.img-logo-hospitalI{

width: 200px;
display: flex;
align-items: center;
padding-top: 50px;


}

.img-logo-hospital{

display: flex;
justify-content: center;

}


/* section 1 */

.section-01{

display: flex;
justify-content: center;
padding-top: 180px;

}


.section-letras-01{



}

.btn {
    padding-top: 80px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #030202;
    background-color: #f1f1f1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

  }

  .img-01{

width: 700px;

  }

  .h2-principal {
    padding-top: 50px;
}

.section-p{

padding-top: 50px;
padding-bottom: 150px;

}



.section-img-01 {
    
    padding-left: 45px;
}

/* section 1 */


/* section 2 */

.section-02{

padding-top: 200px;
padding-bottom: 300px;


}

.img-section2{

position: relative;

}



.div-principal-section2{

margin: 300PX;
padding-top: 300px;

}

.div-principal-section2{

display: flex;
justify-content: center;

}

.div02-section2{

max-width: 500px;
padding-right: 50px;

}



.h1-div02-section2 {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    color: #f1f1f1;
}

.p-mision{

color: #f1f1f1;

}


.div3-section2{

padding-left: 50px;
    max-width: 500px;

}

.h1-div3-section2{


display: flex;
justify-content: center;
padding-bottom: 50px;
color: #f1f1f1;

}

.p-vision{
color: #f1f1f1;

}

.div-img-section2{

position: relative;
width: 100%;
padding-bottom: 20px;
padding-top: 100px;

}
.img-section2{

z-index: -1;
width: 100%;
border-radius: 10%;

}



/* section 2 */

/* --------------------------------------------------------------------------------- */

/* SECTION-3 */


.section-3{

padding-top: 200PX;


}


.h1-1-section3{
display: grid;
justify-content: center;

}


/* imgs 1 y 2*/
.div-section3-img12{

padding-top: 100px;
display: flex;
justify-content: center;


}

.section3-img1{
margin: 0;
padding-right: 15px;
width: 500px;

}

.section3-img2{

    width: 500px;
    
    }


/* imgs 3 y 4*/

.div-section3-img34{

    padding-top: 10px;
    display: flex;
    justify-content: center;
    
    
    }

    .section3-img3{

        margin: 0;
        padding-right: 15px;
        width: 500px;
        
        }
        
        .section3-img4{
        
            width: 500px;
            
            }

            .div-img-section2{

            position: absolute;


            }
        



/* SECTION-3 */

/* -------------------------------------------------------------------------- */


/* section 4 */

.div1-map{

padding-top: 150px;


}


.iframe-map {
    height: 550px;
    width: 100%;
    border-radius: 2%;
    padding-bottom: 0px;
}
/* -----------logo rotativo-------------------------- */
.container {
    height: 0px;
    width: 75vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    perspective: 5000px;
}

.logo {
    width: 99px;
    height: 100px;
    background: url(../img/logo-hospital.png);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: -530px;
    right: -200px;
    animation: rotar 7s linear infinite;
}
.logo:hover{
    cursor: pointer;
}

@keyframes rotar{
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(-360deg);
    }
}

/* -----------logo rotativo-------------------------- */


/* /section 4 */

/* ------------------footer-------------------- */

.footer{


background-color: #0B2A4A;
border-radius: 1%;
height: 500px;
width: 100%;

}


.div-principal-footer{

display: flex;

}

/* ----------------------------------------------------------------------------------- */
/* ---------------div1----------------------- */

.div1-footer{

width: 500px;


}

.h2-1-apartado1-div1-footer{

padding-left: 20px;
color: #f1f1f1;

}

.img-telefono-div1{

padding: 0%;

}



.div1-apartado1-div1-footer {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    margin-left: 70px;
    margin-right: 100px;
   max-width: 500px;
    border-bottom:  0.1px solid #d8cfcf;
    padding-bottom: 20px;
}
.div2-apartado1-div1-footer{

    display: flex;
    justify-content: center;
    padding-top: 40px;
    
    }

   

    .div2-apartado1-div1-footer{

        display: flex;
        justify-content: center;
        padding-top: 40px;
        margin-left: 70px;
        margin-right: 100px;
       max-width: 500px;
        border-bottom:  0.1px solid #d8cfcf;
        padding-bottom: 20px;


    }


    .div3-apartado1-div1-footer{

        display: flex;
        justify-content: center;
        padding-top: 40px;
        margin-left: 70px;
        margin-right: 100px;
       max-width: 500px;
        border-bottom:  0.1px solid #d8cfcf;
        padding-bottom: 20px;


    }

  .img-reloj-div3{


padding-right: 25px;

  }




/* ------------------div1--------------------- */

/* ------------------------------------------------------------------------------------- */

/* --------------div2--------------------- */

.div2-footer{
justify-content: center;
display: flex;
width: 950px;
border-bottom: 0.1px solid #d8cfcf ;


}

.div-h3-div2-footer{
max-width: 500px;

}

.h3-div2-footer{

padding-top: 130px;
padding-left: 40px;
color: #f1f1f1;
padding-bottom: 100px;
max-width: 500px;

}


.logohospital-div2-footer{

width: 270px;
padding-top: 90px;
padding-left: 20px;

}


.img-location-div1{

padding-right: 20px;
height: 30px;


}

.h2-2-apartado1-div1-footer{

color: #f1f1f1;


}


.h2-3-apartado1-div1-footer{

color: #f1f1f1;

}

/* --------------div2--------------------- */


/* ------------------------------------------------------------------------------------ */


/* ------------------div3-------------------- */

.div3-footer{
 width: 500px;

}

.img-facebookIcono{

border-radius: 10%;


}
.h2-div3-footer{

color: #f1f1f1;
padding-bottom: 30px;


}

.div1-img-div3-footer{
padding-top: 160px;
padding-bottom: 20px;
    display: flex;
    justify-content: center;

}

.div2-img-div3-footer{

display: flex;
justify-content: center;

}

.div3-inicio-a-div3-footer {
    display: flex;
    border-bottom: 0.1px solid #d8cfcf;
    justify-content: center;
    margin-left: 150px;
    margin-right: 150px;
}

.a-inicio-div3-footer{

color: #f1f1f1;
padding-bottom: 20px;


}


.div4-contactanos-h3{
display: flex;
justify-content: center;
padding-top: 20px;

}


.h3-contactanos-div4{

color: #f1f1f1;

}



/* --------------------div3---------------------- */

/* ---------------------------------------------------------------------------------- */



.h3-creditos{

    font-weight: normal;
padding-top: 20px;
color: #f1f1f1;
display: flex;
justify-content: center;

}


.negrita{

font-weight: bold;


}




/* /------------------footer-------------------- */

/* body */
